<ion-content>

  <!-- <ion-slides></ion-slides> -->
    <!-- <ion-slide style="height: 100%;"></ion-slide> -->
      <app-passform  style="width: 100%; height:100%"></app-passform>
    
    <!-- <ion-slide style="height: 100%;"></ion-slide> -->
      <app-passcontacts style="width: 100%; height:100%"></app-passcontacts>
    <!-- <ion-slide style="height: 100%;"></ion-slide> -->
      <app-passendpage style="width: 100%; height:100%" [heading1]="heading1"></app-passendpage>
    
  


  
</ion-content>