<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closemodal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Create a Pass</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="nextAvailable()" (click)="goToNext(1)"> Next </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="aForm">
    <ion-item-group>
      <ion-item-divider color="light">DETAILS</ion-item-divider>

      <!-- (click)="setDate()" -->
      <ion-item>
        <ion-label>Pass Date</ion-label>
        <ion-datetime slot="end" displayFormat="MM-DD-YYYY hh:mm A" [min]="dateNowIsoString" [max]="dateFutureIsoString"
          formControlName="pass_date" (ionChange)="setFutureDate()"></ion-datetime>
        <!-- <ion-label class="neg-margin-50">{{ date_of_pass_mdy }}</ion-label>  -->
        <ion-icon slot="end" color="dark" name="calendar"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Pass Type</ion-label>
        <ion-select formControlName="pass_type" (ionChange)="onSelectChange($event)">
          <ion-select-option value="1">One Time</ion-select-option>
          <ion-select-option value="2" *ngIf="!isGroup">Recurring</ion-select-option>
          <ion-select-option value="3" *ngIf="!isGroup && !isContact">Self</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item (click)="openEventSelection()">
        <ion-label>Pass Event</ion-label>
        <ion-label class="ion-text-right">{{ selected_event_name }}</ion-label>
        <ion-icon slot="end" color="dark" name="list"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Visitor Type</ion-label>
        <ion-select formControlName="visitor_type">
          <ion-select-option value="1">Family / Friend</ion-select-option>
          <ion-select-option value="2">Vendor / Delivery</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label *ngIf="aForm.controls.pass_type.value != 2">Pass Validity</ion-label>
        <ion-label *ngIf="aForm.controls.pass_type.value == 2">Recurring For</ion-label>
        <ion-select formControlName="pass_validity" [placeholder]="'Custom'"
          (ionChange)="setEndTimeAfterValidityChange($event)" [disabled]="this.aForm.controls['pass_date'].invalid">
          <ion-select-option value="3" *ngIf="aForm.controls.pass_type.value != 2">3 Hours</ion-select-option>
          <ion-select-option value="6" *ngIf="aForm.controls.pass_type.value != 2">6 Hours</ion-select-option>
          <ion-select-option value="12" *ngIf="aForm.controls.pass_type.value != 2">12 Hours</ion-select-option>
          <ion-select-option value="24"
            [selected]="true || aForm.controls.pass_type.value == 1 || aForm.controls.pass_type.value == 2">24 Hours
          </ion-select-option>

          <ion-select-option value="48">48 Hours</ion-select-option>
          <ion-select-option value="168" *ngIf="aForm.controls.pass_type.value == 2">1 Week</ion-select-option>
          <ion-select-option value="336" *ngIf="aForm.controls.pass_type.value == 2">2 Weeks</ion-select-option>
          <ion-select-option value="720" *ngIf="aForm.controls.pass_type.value == 2">1 Month</ion-select-option>
          <ion-select-option value="876000" *ngIf="aForm.controls.pass_type.value == 2">No Limit</ion-select-option>
          <ion-select-option value="xxx" *ngIf="aForm.controls.pass_type.value == 2">{{custom_date_lbl}}
          </ion-select-option>

        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>End Date</ion-label>
        <ion-datetime slot="end" #enddatetime
          [disabled]="!(aForm.controls.pass_type.value == 2 && aForm.controls.pass_validity.value == 'xxx')"
          displayFormat="MM-DD-YYYY hh:mm A" formControlName="pass_end_date"></ion-datetime>
        <!-- <ion-label class="neg-margin-50">{{ end_date_of_pass_mdy }}</ion-label> -->
        <ion-icon slot="end" color="dark" name="calendar"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-button class="ion-padding" color="danger" (click)="openLocation()">Change</ion-button>
        <ion-textarea formControlName="description" readonly="true" placeholder="Enter A Destination">
        </ion-textarea>
      </ion-item>
    </ion-item-group>
  </form>
</ion-content>