<ion-header>

    <ion-toolbar *ngIf="search_on == false" color="dark">
        <ion-buttons slot="start">
            <ion-button (click)="nav.pop()">
                <ion-icon name="arrow-back"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>{{group?.group_name}} ({{this.group_contact_list.length}})</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="setFocusOnSearch()">
                <ion-icon name="search"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="search_on == true" color="dark">
        <ion-searchbar #searchbar (ionClear)="search_on = false; resetSearch()"
            (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="search_value" [showCancelButton]="false"
            (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
    </ion-toolbar>

</ion-header>


<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>

        <ion-item *ngFor="let item of group_contact_list" style="height: 62px;" (click)="deleteContactFromGroup(item)">
            <ion-avatar>
                <img *ngIf="!item.its_user?.profileImageUrl" [src]="users.avatar">
                <img *ngIf="item.its_user?.profileImageUrl" [src]="item.its_user?.profileImageUrl">
            </ion-avatar>
            <ion-label>
                <h2>{{item.contact_name}}<ion-icon name="star" *ngIf="item.new"></ion-icon>
                </h2>
                <p [innerHtml]="item.formatted_phone_number"></p>
            </ion-label>

            <ion-icon slot="end" name="close"></ion-icon>

        </ion-item>

    </ion-list>

    <ion-infinite-scroll (ionInfinite)="loadMoreContacts($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
    <ion-fab-button color="dark" (click)="presentGroupPopover($event, group)">
        <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <label class="floating-label" side="left">Options</label>
</ion-fab>