<ion-header class="ion-no-padding">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="goToPrev()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Choose Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button [disabled]="isNextAvailable()" (click)="goToNext(2)"> Next </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark" class="ion-no-padding">
    <ion-searchbar #searchbar (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="search_value"
      [showCancelButton]="true" (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-no-padding">

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <!-- <app-contact-item *ngFor="let item of contact_list; let i = index;" [item]="item"
      [singleSelection]="this.singleSelection" (addSelectedContact)="addSelectedContact($event)">
    </app-contact-item> -->
  </ion-list>

  <ion-list class="noRecords" *ngIf="contact_list?.length <= 0">
    <ion-avatar item-start>
      <ion-icon ios="ios-contact" md="md-contact"></ion-icon>
    </ion-avatar>
    <h2>No Contacts Found</h2>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMoreContacts($event) : $event.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
<ion-footer>

  <button ion-button round round block text-uppercase color="white" [disabled]="selected_contacts.length <= 0"
    (click)="goToNext()">
    Next ({{this.selected_contacts.length}})
  </button>
</ion-footer>