<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Add Comments
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-list>

    <ion-item class="ion-text-wrap">
      <ion-label class="ion-text-wrap">
        <h2>Provide Additional Details Or Reason For This Pass Request</h2>
        <p>Type comments below</p>
      </ion-label>
    </ion-item>

    <ion-item class="ion-text-wrap">

      <ion-label class="ion-text-wrap">
        <ion-textarea [(ngModel)]="comments" placeholder="Type Here"></ion-textarea>
      </ion-label>
    </ion-item>

    <ion-button shape="round" expand="block" class="ion-padding ion-text-uppercase" color="primary" (click)="goToNext(2)">Next</ion-button>
  </ion-list>

</ion-content>
<!-- <ion-footer class="ion-padding">
  <button ion-button round round block text-uppercase color="white" (click)="goToNext(2)">
    Next
    
  </button>
</ion-footer> -->