<ion-header mode="ios">
  <ion-toolbar color="dark">
    <img src="assets/imgs/logo_tutorial.png" class="logo-tutorial" />
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-button color="secondary" class="skiptour" shape="round" (click)="signup()">Skip Tour</ion-button>
  <ion-slides #slides pager="true">
   <ion-slide *ngFor="let item of dataArray">
    <app-tutorial-cards [heading]="item.heading" [subheading]="item.subheading" [image]="item.image"></app-tutorial-cards>
   </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer class="ion-margin-bottom">
  <ion-grid>
    <ion-button shape="round" expand="block" (click)="goToNextSlide(slides)" color="dark"> Continue</ion-button>
    <ion-button fill="clear" expand="block" class="alreadysign" color="dark" (click)="this.openLoginPage()">Already a Member? Sign In</ion-button>
  </ion-grid>

</ion-footer>
