<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Request a Pass</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-no-bounce">

  <ion-list>

    <ion-item>
      <ion-label class="ion-text-wrap ion-text-center">
        <h2>REQUEST A PASS FROM ONE OF THE FOLLOWING</h2>
      </ion-label>
    </ion-item>

    <ion-item detail class="ion-text-wrap" (click)="selectFromExicting(true)">
      <ion-avatar>
        <ion-icon name="person"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>EXISTING CONTACTS</h2>
        <p>Select From Your Uploaded ZUUL Contact List</p>
      </ion-label>
    </ion-item>  

    <ion-item detail class="ion-text-wrap" (click)="selectFromExicting(false)">
      <ion-avatar>
        <ion-icon name="create"></ion-icon>
      </ion-avatar>
      <ion-label class="ion-text-wrap">
        <h2>NEW CONTACT</h2>
        <p>Add a New Contact By Entering That Individual’s Full Name And Phone Number</p>
      </ion-label>
    </ion-item>
    
  </ion-list>

</ion-content>