ion-tabs {
    .tabbar {
        background: #0a1f42 !important;

        .tab-button {
            color: #fff !important;
            font-size: 1.5rem;
            padding: 10px 0px;

            ion-icon {
                color: #fff !important;
            }
        }

        .tab-button[aria-selected=true] {
            background: #041125 !important;
        }
    }
}


.alert-warning {
    background: lightyellow;
    color: darkgoldenrod;
    padding: 3%;
}

.top-back-fix {

    ion-icon {
        font-size: 20px
    }
}

.ios ul.ion-alpha-sidebar {
    top: 98px !important;
    color: #838383 !important;
    padding: 0 0 60px 0;
}

ul.ion-alpha-sidebar {
    padding-left: 0 !important
}

ul.ion-alpha-sidebar li a {
    color: #838383 !important;
    font-size: 13px !important;
    /*text-transform: lowercase;*/
}

.ion-alpha-sidebar li a.active {
    color: #0b1f42 !important;
}

.ion-md-options {
    font-size: 26px !important;
}

.item.item-md .checkbox-md {
    margin-right: 15px;
}

.section ion-icon {
    color: #1f3c6e !important;
}

.col {
    border-right: 1px solid #0e315e !important;
}

.col:last-child {
    border-right: none !important;
}

.ion-md-people,
.ion-md-create,
.ion-md-heart,
.ion-md-add {
    font-size: 1.8em;
}

.button-md {
    padding: 0;
}


ion-avatar {
    float: left;
    margin-right: 10px;
}

ion-header {


    .nopad {
        padding: 0px;

        ion-col {
            padding: 0px;
        }
    }
}

ion-content {

    .noRecords {
        padding-top: 40%;

        ion-avatar {
            display: table;
            margin: 0 auto;
            width: 100%;
            text-align: center;

            img {
                width: 100% !important;
                height: 100% !important;
                border-radius: 50%;
            }

            ion-icon {
                font-size: 5em;
                color: lightgray;
            }
        }

        h2 {
            font-size: 20px;
            color: lightgray;
            text-align: center;
        }
    }

    ion-list {

        ion-item {
            padding: 0px !important;
            border: 0px !important;

            ion-checkbox {
                padding-left: 8px;
            }

            ion-avatar {
                min-width: 40px !important;
                min-height: 40px !important;
                float: left;
                margin-right: 9px;

                img {
                    width: 40px !important;
                    height: 40px !important;
                }
            }

            .item-inner {
                border: 0px !important;
            }

            ion-label {
                h2 {
                    color: var(--ion-color-primary);
                }
            }

            .item-button {
                font-size: 2rem !important;
                padding: 0 !important;
            }
        }
    }

    ion-list-header {
        margin-bottom: 0 !important;

        ion-label {
            margin: 0px !important;
        }
    }

    .section {
        background: #f7f7f7;
        border-bottom: 1px solid #eaeaea !important;

        ion-icon {
            color: #cecece;
        }
    }

    .section-active {
        background: #eaeef6;
        border-bottom: 1px solid #eaeaea !important;

        ion-icon {
            color: #1f3c6e;
        }
    }
}

ion-footer {

    background: #204d89 !important;

    button {
        width: 100% !important;
        float: left !important;
        height: auto !important;
        background: transparent !important;
        box-shadow: none !important;

        .button-inner {
            display: block;
        }

        ion-badge {
            position: absolute;
            z-index: 999;
            background: #e1372f !important;
            height: 20px;
            width: 20px;
            padding: 5px 0px 0px;
            font-size: 1.1rem;
        }

        ion-icon {
            display: block;
            font-size: 2.8em;
        }

        label {
            display: block;
            font-size: 0.7em;
        }

    }


}

@media screen and (min-width: 320px) and (max-width: 666px) {}

.accordion-list {
    height: calc(100vh - 100px);
    overflow: scroll;
}





.padding-left-px {
    padding-left: 10px;
}

.padding-bottom-height ion-item-group {
    margin-bottom: 70px;
}
