<ion-tabs #tabs>
  <ion-tab-bar color="dark" slot="bottom">
    <ion-tab-button [tab]="tab1Root">
      <ion-label>Contacts</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tab2Root">
      <ion-label>Groups</ion-label>
    </ion-tab-button>

    <ion-tab-button [tab]="tab3Root">
      <ion-label>Favorites</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>