<!--
  Generated template for the PickContactPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-toolbar>
    <ion-title>Pick App Contact</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">DONE</ion-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>


<ion-content>

    <ion-alpha-scroll
    *ngIf="phone_contacts.length > 0"
    [listData]="phone_contacts"
    key="display_name"
    [itemTemplate]="alphaScrollItemTemplateRef"
    [currentPageClass]="currentPageClass"
    [triggerChange]="triggerAlphaScrollChange">

      <ng-template #alphaScrollItemTemplateRef let-item>

            <ion-item>
              <ion-checkbox dark item-left [(ngModel)]="item.selected" ></ion-checkbox>
              <ion-avatar>
                <img *ngIf="!item.its_user?.profileImageUrl" [src]="avatar">
                <img *ngIf="item.its_user?.profileImageUrl" [src]="item.its_user?.profileImageUrl">
              </ion-avatar>
              <ion-label>
                
                <h2>{{item.display_name}}</h2>
                <p [innerHtml]="utilityProvider.onkeyupFormatPhoneNumberRuntime(item.phone_number)"></p>
              </ion-label >
              <!-- <span item-right>
                  <button (click)="callMe(item.phone_number)" ion-button clear item-end><ion-icon name="call"></ion-icon></button>
                </span> -->
              <span item-right>
                <!-- <button (click)="editFamily(item.user_id)" ion-button clear item-end><ion-icon name="options"></ion-icon></button> -->
                <button (click)="presentPopover($event, item)" ion-button clear item-end><ion-icon name="options"></ion-icon></button>
              </span>
            </ion-item>

      </ng-template>

  </ion-alpha-scroll>
  
  <app-emptyview *ngIf="plist?.length == 0" [icon]="'person-circle-outline'" [type]="'icon'" [message]="'No Contacts Found'"></app-emptyview>
  
</ion-content>
