<!--
  Generated template for the OtherEventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({data: 'A'});">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="setFocusOnSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar #searchbar (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="search_value"
      [showCancelButton]="true" (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

    <ion-item *ngFor="let item of events" style="height: 62px;"
      [ngClass]="{'selected-item': selected_item_id == item.id }" (click)="setPassEvent(item)">
      <ion-label>
        <h2>{{item.name}} <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p [innerHtml]="item.description"></p>
      </ion-label>
      <ion-button (click)="presentPopover($event, item)" fill="clear" slot="end">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMoreContacts($event) : $event.target.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>

<ion-fab vertical="bottom" horizontal="end" class="fab-btn-c" style="z-index: 999900;">
  <ion-fab-button (click)="plusHeaderButton($event, null)">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Event</label>
</ion-fab>






<!-- <ion-header>

  <ion-toolbar *ngIf="search_on == false">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({ data: 'A'});">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Events</ion-title>
    <ion-buttons slot="end">
      <ion-button icon-only (click)="setFocusOnSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="search_on == true">
    <ion-searchbar #searchbar (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="search_value" [showCancelButton]="true" (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>



  <ion-list>

    <ion-item *ngFor="let item of events" style="height: 62px;" [ngClass]="{'selected-item': selected_item_id == item.id }" (click)="setPassEvent(item)">
      <ion-label>
        <h2>{{item.event_name}} <ion-icon name="star" *ngIf="item.new"></ion-icon></h2>
        <p [innerHtml]="item.event_description"></p>
      </ion-label>
      <ion-button (click)="presentPopover($event, item)" fill="clear" slot="end">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-fab  vertical="bottom" horizontal="end" class="fab-btn-c" style="z-index: 999900;">
    <ion-fab-button (click)="plusHeaderButton($event, null)">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <label class="floating-label" side="left">Add Event</label>
  </ion-fab>

  <ion-infinite-scroll (ionInfinite)="(offset != -1) ? loadMoreContacts($event) : $event.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content> -->
