
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #0a1f42,
  secondary:  #f67e56,
  danger:     #f53d3d,
  light:      #f4f4f4,
  light_gray: #7b7b7b,
  light_blue: #1c86ea,
  dark:       #222,
  black:      #000,
  white:      #fff,
  yellow:     #cfd266,
  green:      #1a8e22,
);

$searchbar-ios-input-text-color: #fff;
$searchbar-ios-input-search-icon-color: #fff;
$searchbar-md-input-text-color: #fff;
$searchbar-md-input-search-icon-color: #fff;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here


%background{
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, map-get($colors, primary)),color-stop(1, #1d4a8f));
  background-image: -o-linear-gradient(bottom, map-get($colors, primary) 0%, #1d4a8f 100%);
  background-image: -moz-linear-gradient(bottom, map-get($colors, primary) 0%, #1d4a8f 100%);
  background-image: -webkit-linear-gradient(bottom, map-get($colors, primary) 0%, #1d4a8f 100%);
  background-image: -ms-linear-gradient(bottom, map-get($colors, primary) 0%, #1d4a8f 100%);
  background-image: linear-gradient(to bottom, map-get($colors, primary) 0%, #1d4a8f 100%);
}
%menu_transparent{
  ion-navbar{
    .toolbar-background{
      background:none !important;
      border:0px !important;
      color:map-get($colors, white) !important;
    }
    .toolbar-title{
      color:map-get($colors, white) !important;
    }
  }
  ion-buttons{
    button{
      color:map-get($colors, white) !important;
    }
  }

}
.list-md{
  .searchbar-md {
    padding:1px !important;
  }
}
.searchbar-md {
  padding: 1px 0px 2px !important;
}
%menu_primary{

  background:map-get($colors, primary) !important;
  ion-navbar{
    .toolbar-background{
      background:map-get($colors, primary) !important;
      border:0px !important;
      color:map-get($colors, white) !important;
    }
    .toolbar-title{
      color:map-get($colors, white) !important;
    }
  }
  ion-buttons{
    button{
      color:map-get($colors, white) !important;
    }
  }

}
%serach_transparent{
  ion-searchbar{
    background:none !important;
    border-bottom:1px solid #355273 !important;
    input{
      background:none !important;
      color:map_get($colors, white) !important;
      box-shadow:none !important;
    }
    button{
      color:map_get($colors, white) !important;
      ion-icon {
        color:map_get($colors, white) !important;
      }
    }
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff !important;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      color: #fff !important;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      color: #fff !important;
    }
    input:-moz-placeholder { /* Firefox 18- */
      color: #fff !important;
    }

  }

}
%list-transparent{
  ion-list{
    margin:0px !important;
    ion-item{
      background:none !important;
      padding:0px !important;
      border:0px !important;
      color:#fff !important;
      ion-avatar{
        margin:0px !important;
        img{
          border:2px solid map-get($colors, light_blue);
          width:50px !important;
          height:50px !important;
          margin-right: 10px;
        }

      }
      ion-label{
        text-transform: uppercase;
        p{
          color:#8a9cbb !important;
          span{
            color:map_get($colors, white)
          }
        }
      }
    }
  }
}

.ion-page > ion-content {
  position: relative !important;
}


// .ios .scroll-content {
//   -webkit-overflow-scrolling: auto !important;
// }

.no-margin-padding-bottom .scroll-content{
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.font-size-12px-100-center{
  font-size: 12px;
  width: 100%;
  align-content: center;
}

%content-scroll-off{
  .scroll-content{
    overflow: hidden;
  }
}

%mycontacts{
  ion-segment{
    ion-segment-button{
      border:1px solid #203e72 !important;
      color:#fff !important;
      padding:08px;
      height: auto !important;
      border-radius: 0px !important;
    }
    .segment-activated{
      background-color: #203e72 !important;
    }
  }
}
%search_blue{
  ion-searchbar{
    background:#4972b8 !important;
    border-bottom:1px solid #355273 !important;
    // padding: 1px !important;
    input{
      background:none !important;
      color:map_get($colors, white) !important;
      box-shadow:none !important;
      // padding-left: 9px !important;
    }
    .searchbar-search-icon{
      // left: inherit !important;
      // right:9px;
    }
    button{
      color:map_get($colors, white) !important;
      ion-icon {
        color:map_get($colors, white) !important;

      }
    }
    input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #fff !important;
    }
    input::-moz-placeholder { /* Firefox 19+ */
      color: #fff !important;
    }
    input:-ms-input-placeholder { /* IE 10+ */
      color: #fff !important;
    }
    input:-moz-placeholder { /* Firefox 18- */
      color: #fff !important;
    }

  }
}

%topfilter{
  .sorting{
    margin:0px !important;
    ion-item{
      border:0px !important;
      background:#3862a8 !important;
      color:#fff !important;


      ion-label{
        margin:0px;
        font-size:1.4rem;
        padding-left:10px;
      }
    }
    ion-select{
      max-width: 65%;
      font-size:1.4rem;
    }
    ion-label{
      .creategroup{
        background-color: #527dc5;
        font-size: 1.5rem !important;
        padding: 0px 0px 0px 0px !important;
        width: 100%;
        text-align: left !important;
        box-shadow: none !important;
        margin:10px 0px !important;
      }
    }
  }
}
.nopad{
  padding:0px !important;
}

%passes_list{
  ion-card{
    border-radius:0px !important;
    position:relative;
    margin-bottom:15px !important;

    &:before{
      content:'';
      width:30px;
      height:30px;
      background: #102c5a;
      float: left;
      position: absolute;
      z-index: 999;
      border-radius: 100px;
      left: -17px;
      bottom: 10px;
    }
    &:after{
      content:'';
      width:30px;
      height:30px;
      background: #102c5a;
      float: right;
      position: absolute;
      z-index: 999;
      border-radius: 100px;
      right: -17px;
      top: 10px;
    }

    ion-avatar{
      min-width: 50px !important;
      min-height: 50px !important;
      float:left;
      img{
        width: 50px !important;
        height: 50px !important;
        border: 2px solid #15376d;
      }
    }

    span{
      float:left;
      h2{
        font-size:1.6rem !important;
        color:map-get($colors, primary);
        text-transform: uppercase;
        font-weight: bold !important;
      }
      p{
        text-transform: uppercase;
        span{
          color:map-get($colors, primary) !important;
        }
      }
      .cmty{
        border-left:1px solid map-get($colors, primary);
        padding-left: 10px;
        margin-top: 5px;
        text-transform: uppercase;
        line-height:10px;
        p{
          font-size:1.2rem;
        }
        span{
          font-size:1.2rem !important;
          color:map-get($colors, primary) !important;
          display: contents;
        }
      }
      strong{
        font-size:1.5rem !important;
        color:#1a8e22 !important;
      }

    }
    .invited-final{
      padding-top:15px;
      clear:both;
      ion-col{
        white-space: normal;
        p{
          font-size:1.2rem;
          color:map-get($colors, primary) !important;
        }
      }
    }
    ion-item{
      .item-inner{
        padding:0px !important;
        ion-label{
          margin: 0px !important;
          .invt{
            padding:20px 0px 8px;
          }
          .qrcode_section{
            background:#ccc;
            padding:20px 10px 8px;
            text-align:center;
            h3{
              white-space: normal;
              strong{
                font-size:1.6rem;
                display:block;
              }
            }
            img{
              background: #fff;
              border-radius: 4px;
              padding:5px;
              max-width: 67px;
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
}

