<ion-header class="ion-no-shadow">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="openLogUsers($event)">
        <ion-icon name="contact"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

  <div class="logo">
    <img src="assets/imgs/logo_dark_tutorial.png" />
  </div>

  <ion-list>

    <form [formGroup]="aForm">

      <ion-item lines="none">
        <ion-label position="stacked">
          Phone Number
          <ion-icon name="call"></ion-icon>
        </ion-label>
        <ion-input type="tel" formControlName="phone_number" id="phone_number" placeholder="Phone Number"
          (input)="onTelephoneChange($event, $event.target['value'] )"></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="!aForm.controls.phone_number.valid  && ( aForm.controls.phone_number.dirty || submitAttempt )">
        <ion-badge>invalid phone number</ion-badge>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked">
          Passwords
          <ion-icon name="lock"></ion-icon>
        </ion-label>
        <ion-input type="password" formControlName="password" id="password" placeholder="*****"></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="!aForm.controls.password.valid  && ( aForm.controls.password.dirty || submitAttempt )">
        <ion-badge>invalid password</ion-badge>
      </ion-item>

      <div class="ion-padding">
        <ion-button shape="round" color="primary" expand="block" type="submit" (click)="login()">Sign In</ion-button>
        <div *ngIf="!navwithin" class="ion-text-center ion-padding"> Not a Member? <button class="createaccount"
            (click)="signup()">Create Account</button></div>
        <div *ngIf="!navwithin" class="ion-text-center ion-padding"><button class="createaccount"
            (click)="forgetpassword()">Forgot Password? Click Here</button></div>
      </div>

    </form>

  </ion-list>


</ion-content>
<ion-footer>
  <!-- <img src="assets/imgs/background.png" /> -->
</ion-footer>