<ion-header>
  <ion-toolbar color="primary">
      <!-- <ion-buttons slot="start">
        <ion-button color="danger" (click)="clear()">CANCEL</ion-button>
      </ion-buttons> -->
      <!-- <ion-title>Crop</ion-title> -->
      <ion-buttons slot="end">
        <ion-button (click)="save()">DONE</ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content color="primary">

  <ion-grid>
    <ion-row>
      <ion-col size="4">
        <ion-button expand="block" color="light" (click)="resetImage()">Reset</ion-button>
      </ion-col>
      
      <ion-col size="4">
        <ion-button expand="block" color="light" (click)="flipHorizontal()"><ion-icon name="refresh"></ion-icon> Flip X</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button expand="block" color="light" (click)="flipVertical()"><ion-icon name="refresh"></ion-icon> Flip Y</ion-button>
      </ion-col>
      
      <ion-col size="12">
        <image-cropper
          [transform]="transform"
          [imageChangedEvent]="imageChangedEvent"
          [imageBase64]="image"
          [maintainAspectRatio]="true"
          [aspectRatio]="options.aspectRatio"
          format="png"
          (imageCropped)="imageCropped($event)"
          (imageLoaded)="imageLoaded()"
          (cropperReady)="cropperReady()"
          (loadImageFailed)="loadImageFailed()"
      ></image-cropper>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="zoomIn()"><ion-icon name="add"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="zoomOut()"><ion-icon name="remove"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="rotateLeft(false)"><ion-icon name="return-up-back-outline"></ion-icon></ion-button>
      </ion-col>
      <ion-col size="3">
        <ion-button expand="block" color="light" (click)="rotateRight(false)"><ion-icon name="return-up-forward-outline"></ion-icon></ion-button>
      </ion-col>
      
    </ion-row>
  </ion-grid>

  <div class="cropper-max-height">
    
    <!-- <ngx-cropperjs #angularCropper [cropperOptions]="config" [imageUrl]="imageUrl"></ngx-cropperjs> -->
    <!-- <angular-cropper #angularCropper (touchstart)="cropperTouchStart($event)" [cropperOptions]="cropperOptions" [imageUrl]="base64image"></angular-cropper> -->
  </div>

</ion-content>
<ion-footer>
  <ion-row *ngIf="base64image">
      <ion-col col-4>
        <button ion-button outline icon-left color="primary" (click)="zoom(true)">
          <ion-icon name="add"></ion-icon> Zoom
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button outline icon-left color="primary" (click)="zoom(false)">
          <ion-icon name="remove"></ion-icon> Zoom
        </button>
      </ion-col>
      <ion-col col-4>
        <button ion-button outline icon-left (click)="rotate()">
          <ion-icon name="refresh"></ion-icon> 90 deg
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear (click)="scaleX()">
          Flip X
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear (click)="scaleY()">
          Flip Y
        </button>
      </ion-col>

      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(0, -10)">
          <ion-icon name="arrow-round-up"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(0, 10)">
          <ion-icon name="arrow-round-down"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(-10, 0)">
          <ion-icon name="arrow-round-back"></ion-icon>
        </button>
      </ion-col>
      <ion-col col-2>
        <button ion-button clear icon-only (click)="move(10, 0)">
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
</ion-footer>
