<ion-header>

  <ion-toolbar *ngIf="search_on == false" color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Contacts</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setFocusOnSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
      <ion-button (click)="storedcontacts.SyncContacts(true)">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="search_on == true" color="dark">
    <ion-searchbar #searchbar (ionCancel)="search_on = false" [(ngModel)]="search_value" [showCancelButton]="true"
      (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-title>
      <small *ngIf="!fromContacts">Phonebook Contacts</small>
      <small *ngIf="fromContacts">Zuul Contacts</small>
    </ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="!singleSelection">
    <ion-item>
      <ion-label>Select All</ion-label>
      <ion-checkbox slot="end" [(ngModel)]="selectall" (ionChange)="addAllSelectedContact(selectall)"> </ion-checkbox>
    </ion-item>
  </ion-toolbar>

</ion-header>


<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="fromContacts">

    <ion-item *ngFor="let item of phone_contacts" lines="none">
      <ion-label>
        <h2>{{item.contact_name}}</h2>
        <p [innerHtml]="item.formatted_phone_number"></p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="item.checked" [checked]="isSelectedContact(item.id) == true"
        (ionChange)="addSelectedContact(item.checked, item.id)"></ion-checkbox>

    </ion-item>

  </ion-list>

  <ion-infinite-scroll *ngIf="fromContacts"
    (ionInfinite)="(contactsoffset != -1) ? loadMoreContacts($event) : $event.target.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list *ngIf="!fromContacts">

    <ion-item class="ion-text-wrap" *ngFor="let item of storedcontacts.sync_contacts" lines="none">
      <ion-checkbox slot="start" [(ngModel)]="item.checked" [checked]="isSelectedContact(item.id) == true"
        (ionChange)="addSelectedContact(item.checked, item.id)"></ion-checkbox>
      <ion-label>
        <h2>{{item.contact_name}}</h2>
        <ion-list class="rdpn-list ion-no-padding" [(ngModel)]="item.formatted_phone_number" name="formatted_phone_number">
          <ion-radio-group [value]="returnArrayOfPhoneNumbers(item)[0]">
            <ion-item *ngFor="let pn of returnArrayOfPhoneNumbers(item); let i = index" class="ion-no-padding"
              lines="none">
              <ion-label>
                <p>{{pn}} {{returnTypeOfPn(item.type, i) ? " | " + returnTypeOfPn(item.type, i) : "" }}</p>
              </ion-label>
              <ion-radio [value]="pn"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
      </ion-label>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll *ngIf="!fromContacts"
    (ionInfinite)="(storedcontacts.syncoffset != -1) ? loadMoreContacts($event) : $event.target.complete()">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>





</ion-content>
<ion-footer class="ion-padding">
  <ion-button [disabled]="this.selected_contacts.length == 0" shape="round" expand="block" class="ion-text-uppercase"
    color="dark" (click)="finishSync()">Import Selected ({{this.selected_contacts.length}})</ion-button>
</ion-footer>

<!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
  <ion-fab-button color="dark" (click)="storedcontacts.SyncContacts(true)">
    <ion-icon name="refresh-outline"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Refresh Contacts</label>

</ion-fab> -->