<ion-header>

  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contacts ({{this.storedcontacts.phone_contacts.length}})</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="setFocusOnSearch()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark" [hidden]="search_on == false">
    <ion-searchbar #searchbar (ionClear)="search_on = false; resetSearch()"
      (ionCancel)="search_on = false; resetSearch()" [(ngModel)]="search_value" [showCancelButton]="false"
      (input)="filterGlobal($event)" (search)="filterGlobal($event)"></ion-searchbar>
  </ion-toolbar>


</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)" slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item *ngFor="let item of storedcontacts.phone_contacts">
      <ion-label>
        <ion-avatar>
          <img *ngIf="!item.profile_image" [src]="users.avatar">
          <img *ngIf="item.profile_image" [src]="item.profile_image">
        </ion-avatar>
        <h2>{{item.contact_name}}
          <ion-icon name="star" *ngIf="item.new"></ion-icon>
        </h2>
        <p [innerHtml]="item.formatted_phone_number"></p>
      </ion-label>
      <ion-button fill="clear" color="dark" slot="end" (click)="presentPopover($event, item)">
        <ion-icon name="options"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-infinite-scroll
    (ionInfinite)="(storedcontacts.offset != -1) ? loadMoreContacts($event) : $event.target">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>



</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
  <ion-fab-button color="dark">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Contact</label>
  <ion-fab-list side="top">
    <ion-fab-button class="fab-c-padding-for-image" (click)="plusHeaderButton('M')"><img
        src="assets/imgs/phonebook.png"></ion-fab-button>
    <ion-fab-button class="" (click)="plusHeaderButton('S')">
      <ion-icon name="person-add"></ion-icon>
    </ion-fab-button>
    <!-- <ion-fab-button class="" (click)="syncContactsFromApi()">
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button> -->
  </ion-fab-list>
</ion-fab>
