<ion-header>

  <ion-toolbar color="dark">
      <ion-buttons slot="start">
          <ion-button (click)="goBack()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>Groups ({{storedcontacts.group_contacts.length}})</ion-title>
  </ion-toolbar>

</ion-header>


<ion-content>
  <ion-list>

      <ion-item *ngFor="let item of storedcontacts.group_contacts" (click)="showGroupCOntacts(item)" detail-push>
          <ion-label>
              <h2>{{item.group_name}}</h2>
              <p>{{item.description}}</p>
          </ion-label>
          <ion-badge slot="end">{{item.contacts_count}}</ion-badge>
      </ion-item>


  </ion-list>

</ion-content>
<ion-fab vertical="bottom" horizontal="end" slot="fixed" class="fab-btn-c">
  <ion-fab-button color="dark" (click)="plusHeaderButton('RG')">
      <ion-icon name="add"></ion-icon>
  </ion-fab-button>
  <label class="floating-label" side="left">Add Group</label>

</ion-fab>