<!--
  Generated template for the GmapPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Map Place</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="!isDirections" (click)="getMarkerLocation()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
      <ion-button *ngIf="isBothDirectionsAvailable" (click)="getDirection()">
        <ion-icon name="navigate"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar color="dark">
    <ion-searchbar #searchbox></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-bounce">
  <!-- <ion-grid class="nopad" *ngIf="!isDirections">
    <ion-row>
      <ion-col size="12" class="nopad">
        <ion-searchbar #searchbox></ion-searchbar>
      </ion-col>
    </ion-row>
  </ion-grid> -->
  <!-- <ion-searchbar #searchbox ></ion-searchbar> -->
  <div #map id="map"></div>
</ion-content>