<!--
  Generated template for the PassGuestLogsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-toolbar>
    <ion-title>Arrived Guests</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal({data: 'A'})">
        Done
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="searchTerm" (search)="setFilteredItems(searchTerm, true)"
      (ionInput)="setFilteredItems(searchTerm, false)">
    </ion-searchbar>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-list>

    <ion-item *ngFor="let item of items" text-wrap class="green-border">
      <ion-label>

        <h3>{{item.fullNameInverted}}</h3>
        <p>{{item.phone_number}}</p>
        <p>Scan By: {{item.scanByFullName}} - {{item.scanDate}}</p>
        <p>{{item?.log_text}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>