/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */


/* Core CSS required for Ionic components to work properly */

@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */

@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.failureToast{
  --background: red;
  --color: #ffffff;
}

.successToast{
  --background: green;
  --color: #ffffff;
}

.fab-btn-c .floating-label {
  position: absolute;
  left: -105px;
  bottom: 0;
  transform: translateY(-20%);
  background: lightgray;
  padding: 5px;
  border: 1px solid lightgray;
  border-radius: 4px 10px 10px 4px;
  width: 100px;
  text-align: center;
  font-size: 11px;
}
