<!-- Generated template for the ComponentsNotificationItemComponent component -->
<ion-item-sliding #item (click)="show = !show; markasread.emit(itm['id']); itm.status = 1">
  <ion-item text-wrap [ngClass]="{'unread-notification' : itm.status == 0}">

    <ion-label>
      <h2>{{ itm.heading }}</h2>
      <small>{{ itm.subheading }}</small>
      <p [innerHTML]="itm.text"></p>
      <p>{{ itm.created_at }}</p>
      <p *ngIf="itm.type == 0 && itm.expire_at" class="highlight-expires">Expires in : <span [innerHTML]="convertSecondstoTime(countdown)"></span> </p>
      <ion-grid *ngIf="show && itm.type == 0">
        <ion-row>
          <ion-col col-6>
            <ion-button color="danger" expand="full" (click)="rejectNotf.emit(itm)">
              Reject
            </ion-button>
          </ion-col>
          <!-- <ion-col col-4><button ion-button full [disabled]="!ease" (click)="acceptNotf(itm, ease)">Accept</button></ion-col> -->
          <ion-col col-6><ion-button color="dark" expand="full" (tap)="createPass.emit(itm)">
              Accept
            </ion-button></ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="show && itm.type == 1">
        <ion-row>
          <!-- <ion-col col-6><button ion-button color="danger" full (click)="removeNotf(itm)">Hide</button></ion-col> -->
          <ion-col col-12><ion-button color="dark" expand="full" (click)="showPass.emit(itm)">
              View Pass
            </ion-button></ion-col>
        </ion-row>
      </ion-grid>
    </ion-label>

    <!-- <div *ngIf="itm.type == '1'">
      <h2>{{ itm?.pass_detail?.pass?.event_name }}</h2>
      <small>{{ itm?.pass_detail?.pass?.sender }} {{ itm?.pass_detail?.pass?.phone_number }}</small>
      <p>{{ itm?.pass_detail?.pass?.description }}</p>
    </div> -->

    <!-- <div *ngIf="itm.type == '3'">
      <h2>Announcements</h2>
      <small>{{ itm.announcement.created_at }}</small>
      <p>{{ itm.announcement.description }}</p>
    </div> -->

    <!-- <button ion-button clear color="danger" item-end>Detail</button> -->
    
  </ion-item>

  <ion-item-options side="right">
    <button ion-button color="danger" (click)="removeNotf.emit(itm)">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item-options>
</ion-item-sliding>
