<ion-header>

  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="top-back-fix" (click)="closeModal({data: 'A'})">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Contact Profile</ion-title>

  </ion-toolbar>

</ion-header>

<!--
  Generated template for the CreateGroupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-list>
    <form [formGroup]="aForm">

      <ion-item [class.display-none]="show_relation" [class.display-block]="!show_relation">
        <ion-label>Temporary Contact</ion-label>
        <ion-toggle slot="end" formControlName="is_temporary"></ion-toggle>
      </ion-item>
      <ion-item [class.display-none]="aForm.controls.is_temporary.value == false"
        [class.display-block]="aForm.controls.is_temporary.value == true">
        <ion-label position="stacked">
          Contact Duration
        </ion-label>
        <ion-select formControlName="temporary_duration">
          <ion-select-option value="6">6 Hours</ion-select-option>
          <ion-select-option value="12">12 Hours</ion-select-option>
          <ion-select-option value="24">24 Hours</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">
          Member Name
        </ion-label>
        <ion-input type="text" formControlName="contact_name" id="contact_name" placeholder="Full Name"></ion-input>
      </ion-item>

      <ion-item *ngIf="!aForm.controls.contact_name.valid  && ( aForm.controls.contact_name.dirty || submitAttempt )">
        <ion-badge>invalid name...</ion-badge>
      </ion-item>

      <!-- <ion-item>
        <ion-label position="stacked">
          phone number {{formattedNumber}}
        </ion-label>
        <ion-input type="tel" formControlName="phone_number" id="name" placeholder="" (ionChange)="runTimeChange($event)"  > </ion-input>
      </ion-item> -->





      <ion-item>
        <ion-label position="stacked">
          Email
        </ion-label>
        <ion-input type="email" formControlName="email" id="email" placeholder=""></ion-input>
      </ion-item>

      <ion-item
        *ngIf="!aForm.controls.email.valid && show_relation  && ( aForm.controls.email.dirty || submitAttempt )">
        <ion-badge>invalid email ...</ion-badge>
      </ion-item>

      <!-- <ion-item [class.display-none]="!show_relation"  [class.display-block]="show_relation" class="select-titlecase">
        <ion-label>Relationship</ion-label>
        <ion-select formControlName="relationship" class="ion-text-capitalize">
          <ion-select-option value="None">None</ion-select-option>
          <ion-select-option value="Husband">Husband</ion-select-option>
          <ion-select-option value="Wife">Wife</ion-select-option>
          <ion-select-option value="Father">Father</ion-select-option>
          <ion-select-option value="Mother">Mother</ion-select-option>
          <ion-select-option value="Son">Son</ion-select-option>
          <ion-select-option value="Daughter">Daughter</ion-select-option>
          <ion-select-option value="Brother">Brother</ion-select-option>
          <ion-select-option value="Sister">Sister</ion-select-option>
          <ion-select-option value="Uncle">Uncle</ion-select-option>
          <ion-select-option value="Aunty">Aunty</ion-select-option>
        </ion-select>
      </ion-item> -->
      <ion-item>
        <ion-avatar slot="start" (click)="(isUpdate == false) ? openCounryCode() : null">
          <img src="{{dial_code.image}}">
        </ion-avatar>
        <div slot="start" class="tel-code">{{aForm.controls.dial_code.value}}</div>
        <ion-input type="tel" (input)="onTelephoneChange($event, $event.target.value)" formControlName="phone_number"
          id="phone_number" placeholder="Phone Number"></ion-input>


        <!-- <div class="inner-intl">
          <div class="icn" (click)="(isUpdate == false) ? openCounryCode() : null">
            <img src="{{dial_code.image}}">
            <ion-icon ios="md-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
          </div>
          <div class="ign" >
              <div class="tel-code">{{aForm.controls.dial_code.value}}</div>
              <input class="col" type="tel" (input)="onTelephoneChange($event, $event.target.value)" formControlName="phone_number" placeholder="Phone Number">
          </div>

        </div> -->
      </ion-item>

      <ion-item *ngIf="!aForm.controls.phone_number.valid  && ( aForm.controls.phone_number.dirty || submitAttempt )">
        <ion-badge>phone number required...</ion-badge>
      </ion-item>

      <ion-button class="ion-margin" [class.display-none]="!show_relation && isUpdate == false" shape="round"
        fill="outline" expand="block" (click)="openList()">Select From Phonebook</ion-button>

      <!-- <ion-list *ngIf="show_relation">

        <ion-item>
          <ion-label>Can Manage Household</ion-label>
          <ion-checkbox dark item-left formControlName="can_manage_family" ></ion-checkbox>
        </ion-item>

        <ion-item>
          <ion-label>Can Send Passes</ion-label>
          <ion-checkbox dark item-left formControlName="can_send_passes" ></ion-checkbox>
        </ion-item> -->

      <!-- <ion-item *ngIf="user.head_of_family == '1'">
          <ion-label>Can Retract Sent Passes</ion-label>
          <ion-checkbox dark item-left formControlName="can_retract_sent_passes" ></ion-checkbox>
        </ion-item> -->

      <!-- <ion-item *ngIf="user?.head_of_family == '1'">
          <ion-label>Allow Parental Controls</ion-label>
          <ion-checkbox dark item-left formControlName="allow_parental_control" ></ion-checkbox>
        </ion-item>

      </ion-list> -->

      <ion-button class="ion-margin" shape="round" color="primary" expand="block" type="submit" (click)="create()">{{
        btnText }}</ion-button>


    </form>

  </ion-list>

</ion-content>